<h1>{{title}}</h1>
<div class="csv-file-chooser-section">
    <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" 
    (change)="fileChangeListener($event)"
      accept=".csv"/>
  </div>
  
   <div class="csv-result-table">
  
     <table>
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>Day</th>
          <th>Afghanistan</th>
          <th>Bangladesh</th>
          <th>Congo</th>
          <th>CotedIvoire</th>
          <th>Egypt</th>
          <th>AfghanistanDeaths</th>
          <th>BangladeshDeaths</th>
          <th>CongoDeaths</th>
          <th>CotedIvoireDeaths</th>
          <th>EgyptDeaths</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let csvData of csvRecords;let i = index;">
        
          <!-- <td>{{i+1}}</td> -->
          <td>
            <span>{{csvData.Day}}</span>
          </td>
          <td>
            <span>{{csvData.Afghanistan}}</span>
          </td>
          <td>
            <span>{{csvData.Bangladesh}}</span>
          </td>
          <td>
            <span>{{csvData.Congo}}</span>
          </td>
          <td>
            <span>{{csvData.CotedIvoire}}</span>
          </td>
          <td>
            <span>{{csvData.Egypt}}</span>
          </td>
          <td>
            <span>{{csvData.AfghanistanDeaths}}</span>
          </td>
          <td>
            <span>{{csvData.BangladeshDeaths}}</span>
          </td>
          <td>
            <span>{{csvData.CongoDeaths}}</span>
          </td>
          <td>
            <span>{{csvData.CotedIvoireDeaths}}</span>
          </td>
          <td>
            <span>{{csvData.EgyptDeaths}}</span>
          </td>
  
        </tr>
      </tbody>
    </table>
  </div> 
  <div id="myDiv1"style="width:600px;height:250px;color: powderblue;float:left 
  ;padding-left:100px ;padding-bottom:50px; margin:10px"></div> 

  <div>
    <label>More info about the point you hover on</label><br>
    <textarea readonly id="moreinfo" name="pointData" rows="5" cols="50">
    {{pointInfo}}
    </textarea><br>
  </div>